#server.properties file template
broker.id={{ hostvars[inventory_hostname]['brokerid'] }}

#Logs & Rebalance
group.initial.rebalance.delay.ms=3000
log.dirs={{installation_dir}}/data
log.retenton.check.interval.ms=300000
#log.retenton.hours=168
log.retenton.hours=48
#log.segment.bytes=1073741824
log.segment.bytes=104857600
log.roll.hours=1

#Buffers & Threads
num.io.threads=16
num.network.threads=8
#num.partitions=1
num.partitions=10
num.recovery.threads.per.data.dir=2
socket.receive.buffer.bytes=102400
socket.request.max.bytes=104857600
socket.send.buffer.bytes=102400

#Replication Factor
offsets.topic.replication.factor=3
transaction.state.log.replication.factor=3
transaction.state.log.min.isr=2
default.replication.factor=3
#delete.topic.enable=true

#Zookeeper Connection
zookeeper.connect={{ hostvars['kafka-1.internal']['ansible_host'] }}:{{zookeeper_port}},{{ hostvars['kafka-2.internal']['ansible_host'] }}:{{zookeeper_port}},{{ hostvars['kafka-3.internal']['ansible_host'] }}:{{zookeeper_port}}
zookeeper.connection.timeout.ms=18000

#listener Configurations
listeners=INTERNAL://{{ ansible_host }}:9092, BROKER://{{ ansible_host }}:9091
advertised.listeners=INTERNAL://{{ ansible_host }}:9092, BROKER://{{ ansible_host }}:9091
listener.security.protocol.map=INTERNAL:PLAINTEXT,BROKER:PLAINTEXT
inter.broker.listener.name=BROKER
#security.inter.broker.protocol=PLAINTEXT

#SASL Configurations
#sasl.enabled.mechanisms=PLAIN
#sasl.mechanism.inter.broker.protocol=PLAIN
#listener.name.internal.sasl.enabled.mechanisms
#listener.name.internal.sasl.enabled.mechanisms=PLAIN
#listener.name.broker.sasl.enabled.mechanisms=PLAIN
#listener.name.broker.plain.sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username
#listener.name.internal.plain.sasl.jaas.config=
